# Esercizio 1
Dal database AdventureWorks estraiamo la tabella dimproduct 
- Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino
-  Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

In [ ]:
from pathlib import Path
import pandas as pd
import numpy as np
import os

path = str(Path(os.path.abspath("")).parents[0]) + '\\' + "adventureworks_connection.ipynb"
path = path.replace('\\', '/')
%run {path}

In [ ]:
adw_dimproduct = pd.read_sql('SELECT * FROM dimproduct', db_engine)

print('adw_dimproduct shape:', adw_dimproduct.shape)
print('adw_dimproduct columns:', adw_dimproduct.columns)

In [ ]:
adw_dimproduct['DealerPrice'].round(2).round(0)#.dropna().astype(int)

In [ ]:
adw_dimproduct['DealerPrice'].clip(0, 1000)

# Esercizio 2
Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice: 

```python 
years = 5
a = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), "Anno": np.repeat(list(range(years)), 12), "Guadagni": np.random.randint(800, 5000, 12*years)})
```

- Calcola la somma cumulativa delle vendite per ogni mese utilizzando il metodo .cumsum()
- Come sopra, ma raggruppato per ogni anno usando prima un .groupby()

In [ ]:
years = 5
a = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), "Anno": np.repeat(list(range(years)), 12), "Guadagni": np.random.randint(800, 5000, 12*years)})

a.cumsum()

In [ ]:
a['year_cumsum'] = a.groupby('Anno').Guadagni.cumsum()
a

# Esercizio 3 1/2 
Dal database AdventureWorks estraiamo la tabella dimcustomer 
- Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole
- Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio
- Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"])
- Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

In [ ]:
adw_dimcustomer = pd.read_sql('SELECT * FROM dimcustomer', db_engine)

print('adw_dimcustomer shape:', adw_dimcustomer.shape)
print('adw_dimcustomer columns:', adw_dimcustomer.columns)

In [ ]:
adw_dimcustomer.FirstName = adw_dimcustomer.FirstName.str.lower()
adw_dimcustomer.LastName = adw_dimcustomer.LastName.str.upper()
adw_dimcustomer[['FirstName','LastName']]

In [ ]:
adw_dimcustomer.EmailAddress.str.split('@')

In [ ]:
adw_dimcustomer.Phone.str.split(' ')

In [ ]:
email_flt = adw_dimcustomer.EmailAddress.str.contains('21')
adw_dimcustomer.EmailAddress[ email_flt ]

# Esercizio 3 2/2 
- Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"
- Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i dieci più lunghi e i dieci più corti
- Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()
- Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

In [ ]:
email_flt_20 = adw_dimcustomer.EmailAddress.str.contains('20')
email_flt_10 = adw_dimcustomer.EmailAddress.str.contains('10')

adw_dimcustomer.EmailAddress[ email_flt_20 | email_flt_10 ]

In [ ]:
adw_dimcustomer.EmailAddress.str.len()

In [ ]:
adw_dimcustomer.EmailAddress.sort_values()[:10]

In [ ]:
adw_dimcustomer.EmailAddress.sort_values()[-10:]

In [ ]:
adw_dimcustomer.EmailAddress = adw_dimcustomer.EmailAddress.str.replace("adventure-works.com", "aw-db.com")
adw_dimcustomer.EmailAddress

In [ ]:
adw_dimcustomer.AddressLine1[ adw_dimcustomer.AddressLine1.str.contains("Street") ]

# Esercizio 4 1/2 
Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, che contiene dei post con data di pubblicazione, tipo (foto, video, …) e numero di reactions raccolte: 
- Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp
- Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, eccetera

In [ ]:
parent_folder = str(Path(os.path.abspath("")).parents[0]) + '\\'
facebook_df = pd.read_csv(parent_folder + 'datasets/beginner_datasets/facebook.csv')

facebook_df

In [ ]:
facebook_df['status_published'] = pd.to_datetime(facebook_df['status_published'])

In [ ]:
months_group = facebook_df['status_published'].dt.month
facebook_df['status_published'].groupby(months_group).count().sort_values()

In [ ]:
years_group = facebook_df['status_published'].dt.year
facebook_df['status_published'].groupby(years_group).count().sort_values()

In [ ]:
days_group = facebook_df['status_published'].dt.day
facebook_df['status_published'].groupby(days_group).count().sort_values()

In [ ]:
daysofweek_group = facebook_df['status_published'].dt.dayofweek
facebook_df['status_published'].groupby(daysofweek_group).count().sort_values()

In [ ]:
daysofyear_group = facebook_df['status_published'].dt.dayofyear
facebook_df['status_published'].groupby(daysofyear_group).count().sort_values()

# Esercizio 4 2/2 
- Estraiamo solo i post relativi al 2012
- Estraiamo solo i post relativi a maggio 2018
- Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana
- Troviamo il primo e ultimo post pubblicati in ogni anno
- Quanti tipi di post ci sono? E quanti per ogni tipo?

In [ ]:
post_year_flt = facebook_df['status_published'].dt.year == 2012

facebook_df[ post_year_flt ].sample(5)

In [ ]:
post_year_flt = facebook_df['status_published'].dt.year == 2018
post_month_flt = facebook_df['status_published'].dt.month == 5

facebook_df[ post_year_flt & post_month_flt ]

In [ ]:
post_weekdays_flt = facebook_df['status_published'].dt.dayofweek < 5
post_weekend_flt = facebook_df['status_published'].dt.dayofweek >= 5

print('numero di post nel weekend: ', facebook_df[ post_weekend_flt ].shape[0])
print('numero di post negli altri giorni: ', facebook_df[ post_weekdays_flt ].shape[0])

In [ ]:
post_year = facebook_df['status_published'].dt.year
facebook_df_year = facebook_df.groupby(post_year)

display('Primo post per ogni anno:', facebook_df_year.head(1))
display('Ultimo post per ogni anno:', facebook_df_year.tail(1))

In [275]:
print('Tipi di post:', facebook_df['status_type'].unique(), '\tnum:', facebook_df['status_type'].nunique())
print(facebook_df.groupby('status_type').status_type.count())

Tipi di post: ['video' 'photo' 'link' 'status'] 	num: 4
status_type
link        63
photo     4288
status     365
video     2334
Name: status_type, dtype: int64

# Esercizio 5
Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv: 
- Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna
- Ci sono valori nulli?
- Se sì, avrebbe senso cercare di riempirli?
- Eliminiamo le righe che contengono valori nulli

In [336]:
pokemon_df = pd.read_csv(parent_folder + 'datasets/beginner_datasets/pokemon.csv')

pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [322]:
pokemon_df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [335]:
pokemon_df[ pokemon_df[ 'Type 2' ].isnull() ][ 'Type 2' ] = pokemon_df[ pokemon_df[ 'Type 2' ].isnull() ][ 'Type 2' ].replace(np.nan, '-')
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,NaN,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,NaN,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,NaN,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,NaN,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,-,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,NaN,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,NaN,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,NaN,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,NaN,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,NaN,600,80,110,120,130,90,70,6,True

# Esercizio 6
Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv: 
- Ci sono valori nulli? Dove? Quanti?
- Quali righe hanno un valore nullo nella colonna num-of-doors?
- Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

# Esercizio 7
Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera: 

```python
import numpy as np, pandas as pd
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6 7, 8, 9, 10, 11, 12], "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})
```
- Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

# Esercizio 8 1/2 
Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno di una directory; senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path per esaminare una directory specifica, ad esempio os.listdir("mio_progetto/beginner_datasets/") 
- Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli?

# Esercizio 8 2/2 
1. Dovremo usare un ciclo for per esaminare tutti i nomi dei file
2. Dovremo selezionare solo i nomi di file con estensione .csv (quindi usare un costrutto if)
3. Nel corpo dovremo leggere di volta in volta il file in esame, e caricarlo in un DataFrame con la funzione .read_csv()
4. Sul DataFrame dovremo utilizzare il metodo .isna() per trovare la maschera booleana dei dati nulli
5. Dovremo contare i dati nulli, utilizzando .sum(); potremmo doverlo utilizzare più di una volta
6. Dovremo stampare, o memorizzare in una list, solo i nomi dei file che contengono dati nulli